@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

:root {
  font-family: "Smooch Sans", sans-serif;
  line-height: 1.5; 
  font-weight: 400;
  background-color: #ffffff;
  color: #1d1d1f;
}

.converter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.temp-container {
  display: grid;
  grid-template-columns: 1fr auto 1fr; /* Creates 3 columns (Sides take equal remaining space) */
  align-items: center;
}

.title-name {
  grid-column: 2;
  text-align: center;
}

.temp-image {
  width: 50px; 
  height: auto;
  grid-column: 3;
}

.celsius-container, .farenheit-container {
  display: grid;
  grid-template-columns: 1fr auto auto 1fr; /* 4 columns keeps input centered and symbol right next to it */
  align-items: center;
  gap: 10px;                                 /* Space between input and the symbol */
  width: 100%;
}

.celsius-input, .farenheit-input {
  grid-column: 2;
  text-align: center;
}

.celsius-symbol, .farenheit-symbol {
  grid-column: 3;
}

.convert-symbol {
  width: 30px;        
  height: auto;
  transform: rotate(90deg);
  margin: 10px 0;    
}

/* Target Chrome, Safari, Edge, and Opera */
.celsius-input::-webkit-outer-spin-button,
.celsius-input::-webkit-inner-spin-button,
.farenheit-input::-webkit-outer-spin-button,
.farenheit-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}